{% extends "base.html" %} {% block content %}

<div class="add add-course">
  <div class="add-title">
    <h2>Add New Course</h2>
  </div>

  <div class="add-form">
    <form method="post">
      {% csrf_token %} {{ form.non_field_errors }} {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }} {{ field }}
        <small class="form-error">{{ field.errors }}</small>
      </div>
      {% endfor %}

      <button type="submit">Save</button>
    </form>
  </div>

  <div class="add-link">
    <a href="{% url 'courses:list' %}">Back to Course List</a>
  </div>
</div>

{% endblock %}
