{% extends "base.html" %} {% block content %}

<div class="list course-list">
  <div class="list-title">
    <h2>Courses</h2>
  </div>

  <div class="list-table">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Credits</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for course in page_obj %}
        <tr>
          <td data-label="Name">{{ course.name }}</td>
          <td data-label="Code">{{ course.code }}</td>
          <td data-label="Credits">{{ course.credits }}</td>
          <td data-label="description">{{ course.description }}</td>
          <td data-label="Start Date">{{ course.start_date }}</td>
          <td data-label="End Date">{{ course.end_date }}</td>
          <td data-label="Actions">
            <a href="{% url 'courses:edit' course.id %}">Edit</a> |
            <a href="{% url 'courses:delete' course.id %}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page=1{% if query %}&q={{ query }}{% endif %}">&laquo; First</a>
    <a
      href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}"
      >Previous</a
    >
    {% endif %}

    <span class="current-page">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a
      href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}"
      >Next</a
    >
    <a
      href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}"
      >Last &raquo;</a
    >
    {% endif %}
  </div>
  <div class="list-link">
    <a href="{% url 'courses:add' %}">Add New Course</a>
  </div>
</div>

{% endblock %}
