{% extends "base.html" %} {% block content %}

<div class="edit edit-enrollment">
  <div class="edit-title">
    <h2>Edit Enrollment</h2>
  </div>

  <div class="edit-form">
    <form method="post">
      {% csrf_token %} {{ form.non_field_errors }} {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }} {{ field }}
        <small class="form-error">{{ field.errors }}</small>
      </div>
      {% endfor %}

      <button type="submit">Update</button>
    </form>
  </div>

  <div class="edit-link">
    <a href="{% url 'enrollments:list' %}">Back to Enrollment List</a>
  </div>
</div>

{% endblock %}
