{% extends "base.html" %} {% block content %}

<div class="list enrollment-list">
  <div class="list-title">
    <h2>Enrollments</h2>
  </div>

  <div class="list-table">
    <table>
      <thead>
        <tr>
          <th>Student</th>
          <th>Course</th>
          <th>Enrollment Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for enrollment in page_obj %}
        <tr>
          <td data-label="Student">{{ enrollment.student }}</td>
          <td data-label="Course">{{ enrollment.course }}</td>
          <td data-label="Date Enrolled">{{ enrollment.enrollment_date }}</td>
          <td data-label="Actions">
            <a href="{% url 'enrollments:edit' enrollment.id %}">Edit</a> |
            <a href="{% url 'enrollments:delete' enrollment.id %}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page=1{% if query %}&q={{ query }}{% endif %}">&laquo; First</a>
    <a
      href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}"
      >Previous</a
    >
    {% endif %}

    <span class="current-page">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a
      href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}"
      >Next</a
    >
    <a
      href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}"
      >Last &raquo;</a
    >
    {% endif %}
  </div>
  <div class="list-link">
    <a href="{% url 'enrollments:add' %}">Add New Enrollment</a>
  </div>
</div>

{% endblock %}
