{% extends "base.html" %} {% block content %}
<div class="dashboard">
  <h1>Welcome, {{ request.user.username }}!</h1>
  <p>This is your dashboard.</p>
  <div class="dashboard-cards">
    <div class="card">
      <h3>Total Students</h3>
      <p>{{ total_students }}</p>
    </div>

    <div class="card">
      <h3>Total Courses</h3>
      <p>{{ total_courses }}</p>
    </div>

    <div class="card">
      <h3>Total Enrollments</h3>
      <p>{{ total_enrollments }}</p>
    </div>
  </div>
</div>
{% endblock %}
