{% extends "base.html" %} {% block content %}
<div class="list student-list">
  <div class="list-title student-list-title">
    <h2>Students</h2>
  </div>
  <div class="list-table student-list-table">
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Date of Birth</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td data-label="First Name">{{ student.first_name }}</td>
          <td data-label="Last Name">{{ student.last_name }}</td>
          <td data-label="Email">{{ student.email }}</td>
          <td data-label="Phone">{{ student.phone_number }}</td>
          <td data-label="Address">{{ student.address }}</td>
          <td data-label="Date of Birth">{{ student.date_of_birth }}</td>
          <td data-label="Actions">
            <a href="{% url 'students:edit' student.id %}">Edit</a> |
            <a href="{% url 'students:delete' student.id %}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="list-link student-list-link">
    <a href="{% url 'students:add' %}">Add New Student</a>
  </div>
</div>
{% endblock %}
