{% extends "base.html" %} {% block content %}
<div class="student-list-title">
  <h2>Students</h2>
</div>
<div class="student-list-table">
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Date of Birth</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{ student.first_name }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.phone_number }}</td>
        <td>{{ student.date_of_birth }}</td>
        <td>
          <a href="{% url 'students:edit' student.id %}">Edit</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="student-list-link">
  <a href="{% url 'students:add' %}">Add New Student</a>
</div>
{% endblock %}
